.carousel__nav .carousel__btn-right, .carousel__nav .carousel__btn-left {
  position: relative;
  width: 10rem;
  height: 6rem;
  overflow: hidden;
  box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.carousel__nav .carousel__btn-right::after, .carousel__nav .carousel__btn-left::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: "";
  width: 6rem;
  height: 6rem;
  background-color: transparent;
  transform: translate(-50%, 50%) rotate(45deg);
  border: 1px solid rgba(0, 0, 0, 0.24);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.detail__content .detail__sizes .detail__size {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #1e1d1d;
  background-color: #cccccc;
}
.detail__content .detail__sizes .detail__size {
  margin-right: 2rem;
}
.detail__content .detail__sizes .detail__size:empty {
  display: none;
}

.detail__content .detail__quality .detail__number {
  font-size: 3rem;
  font-weight: 400;
  color: #000;
  width: 100%;
  border: none;
  background-color: transparent;
  background-clip: padding-box;
  padding: 0.5rem 2rem;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  box-shadow: none;
  outline: none;
  background-color: transparent;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: -6rem;
  margin-left: -5.5rem;
  margin-right: -5.5rem;
}

.row > * {
  margin-top: 6rem;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
}

.col {
  flex: 1 0 0%;
}

.col-4 {
  flex: 1 0 auto;
  width: 33.3333333333%;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding-left: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.feature {
  padding: 4.6rem 0;
}
.feature .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature .feature__title {
  font-size: 4rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 9rem;
}
.feature .feature__item {
  background: #f8f8f8;
  transition: all linear 0.1s;
}
.feature .feature__item:hover {
  transform: translateY(-1rem);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.feature .feature__item:hover .feature__price {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.feature__item-header {
  padding: 5rem 4rem 2rem;
  text-align: center;
}

.feature__item-body {
  padding: 1.2rem 2.4rem;
}
.feature__item-body h3 {
  font-size: 2.4rem;
  font-weight: 300;
  color: #000;
  margin-bottom: 0.8rem;
}
.feature__item-body p {
  font-size: 2rem;
  font-weight: 300;
  color: #cbc9c9;
}

.feature__item-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #dedddc;
}
.feature__item-footer .feature__button {
  font-size: 2.4rem;
  font-weight: 200;
  color: #000;
  background: #e1b067;
  border: transparent;
  border-radius: 0;
  padding: 1.6rem 3.5rem;
  cursor: pointer;
}
.feature__item-footer .feature__price {
  font-size: 2.4rem;
  font-weight: 600;
  color: #000;
  padding-right: 1.4rem;
}

.carousel {
  background: url("/assets/img/slider_bg.png") bottom/cover no-repeat;
}
.carousel .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 53rem;
  padding: 0 9.6rem;
}
.carousel .carousel__img {
  width: 75%;
}

.carousel__info {
  width: 25%;
  position: relative;
  z-index: 5;
}
.carousel__info .carousel__name {
  font-size: 4rem;
  font-weight: 300;
  color: #000;
  margin-bottom: 10px;
}
.carousel__info .carousel__description {
  font-size: 2rem;
  font-weight: 300;
  color: #000;
  margin-bottom: 20px;
}
.carousel__info button {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  background: #f8b653;
  border: transparent;
  border-radius: 0;
  padding: 1.2rem 3.5rem;
  cursor: pointer;
}
.carousel__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  inset: 0;
  z-index: 2;
}
.carousel__nav .carousel__btn-left {
  transform: rotate(-90deg);
}
.carousel__nav .carousel__btn-right {
  transform: rotate(90deg);
}

.detail {
  padding: 6rem 0 3rem;
}
.detail .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-items: flex-start;
}
.detail .detail__img {
  width: 35%;
  text-align: center;
}
.detail .detail__img img {
  width: 34rem;
  height: 34rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  background-color: #f8f8f8;
  padding: 4rem;
}
.detail .detail__content {
  width: 65%;
  padding: 0 10rem;
}

.detail__content .detail__name {
  font-size: 2.8rem;
  font-weight: 300;
  color: #000;
  margin-bottom: 1.6rem;
}
.detail__content .detail__decription {
  font-size: 1.6rem;
  font-weight: 400;
  color: #140101;
  padding-right: 10rem;
  margin-bottom: 3rem;
}
.detail__content .detail__label-size {
  font-size: 2.4rem;
  font-weight: 500;
  color: #1ed90e;
  margin-bottom: 2rem;
}
.detail__content .detail__sizes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2.6rem;
}
.detail__content .detail__price {
  font-size: 2.8rem;
  font-weight: 600;
  color: #fc0303;
  margin-bottom: 2.6rem;
}
.detail__content .detail__quality {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}
.detail__content .detail__quality .detail__decrease-btn {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
  border: transparent;
  border-radius: 0;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
}
.detail__content .detail__quality .detail__number {
  width: 6rem;
  padding: 0 0 0 2.2rem;
}
.detail__content .detail__quality .detail__increase-btn {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
  border: transparent;
  border-radius: 0;
  padding: 0.8rem 2rem;
  cursor: pointer;
}
.detail__content .detail__add-btn {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d017ee 89.71%);
  border: transparent;
  border-radius: 0;
  padding: 1.2rem 3.5rem;
  cursor: pointer;
}