* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
}

.carts-qty {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  background-color: red;
  padding: 4px 6px;
  border: 1px solid transparent;
  border-radius: 50%;
}

#moveToTop {
  position: fixed;
  right: 10%;
  bottom: 10%;
  width: 20px;
  height: 20px;
  border: none;
  color: #656774;
  font-size: 30px;
  cursor: pointer;
  z-index: 999;
}
