// ======================
// ======== TEXT ========
// ======================

// ------- font-size -------
$fz-sm: 1.4rem;
$fz-md: 1.6rem;
$fz-lg: 2rem;
$fz-xl: 2.4rem;
$fz-mxl: 3rem;
$fz-xxl: 4rem;

// ------- font-weight -------
$fw-xlight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// ------- line height -------
$lh-sm: 2rem;
$lh-md: 2.4rem;
$lh-lg: 3rem;
$lh-xl: 3.6rem;
$lh-xxl: 4.8rem;

// ------- color -------
$text-primary-c0: #2a73dd;

$text-dark-c0: #000;
$text-dark-c1: #656774;
$text-dark-c2: #140101;
$text-dark-c3: #1e1d1d;

$text-light-c0: #fff;
$text-light-c1: #f7f7f7;
$text-light-c2: #cbc9c9;

$text-green-c0: #1ed90e;
$text-red-c0: #fc0303;

// ============================
// ======== BACKGROUND ========
// ============================

// ------- background-color -------
$bg-primary-c0: #2a73dd;

$bg-dark-c0: #000;

$bg-light-c0: #f5f5f5;
$bg-light-c1: #dedddc;
$bg-light-c2: #f8f8f8;
$bg-light-c3: #cccccc;
$bg-light-c4: #d9d9d9;

$bg-orange-c0: #f8b653;
$bg-orange-c1: #e1b067;

$bg-gra-c0: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
$bg-gra-c1: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d017ee 89.71%);
$bg-gra-c2: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);

// ==================================
// ======== BORDER & SHADDOW ========
// ==================================

$border-primary-c0: #2a73dd;

$box-shadow-c0: #e2ebfc;

// ==============================
// ======== DISPLAY-FLEX ========
// ==============================

// ------- default flex direction -------
$direction-row-justify-content: space-between;
$direction-row-align-item: center;
$direction-col-justify-content: center;
$direction-col-align-item: center;

// ------- gird system -------
$gutter-x-c0: 0rem;
$gutter-x-c1: 2rem;
$gutter-x-c2: 6rem;
$gutter-x-c3: 8rem;
$gutter-x-c4: 11rem;

$gutter-y-c0: 0rem;
$gutter-y-c1: 2rem;
$gutter-y-c2: 6rem;
$gutter-y-c3: 4.6rem;
$gutter-y-c4: 11rem;

// ==========================
// ======== RESPONSIVE ======
// ==========================

$xsm-width: 366px;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xlg-width: 1280px;

// ======================
// ======== OTHERS ======
// ======================

$buy-btn-height: 6.4rem;
$detail-img-width: 42rem;
$dots-carousel-height: 1.5rem;
$padding-y-carousel-c0: 6.6rem;
$padding-y-carousel-c1: 4.6rem;
$padding-y-carousel-c2: 2.6rem;
$padding-y-carousel-c3: 5.8rem;
