.carousel {
  background: url("/assets/img/slider_bg.png") bottom / contain no-repeat;
  padding: 10rem 0 2.6rem;

  .container {
    @include d-flex();
    position: relative;
    height: 53rem;
  }

  .carousel__item {
    @include d-flex();
    padding: 0 10rem;
  }

  .left-btn {
    @extend %arrow-button;
    left: -4.4rem;
    transform: translateY(-50%) rotate(-90deg);
    transition: all linear 0.3s;

    &:hover {
      transform: translateY(-50%) rotate(-90deg) translateY(-0.8rem);
    }
  }

  .right-btn {
    @extend %arrow-button;
    right: -4.4rem;
    transform: translateY(-50%) rotate(90deg);
    transition: all linear 0.3s;

    &:hover {
      transform: translateY(-50%) rotate(90deg) translateY(-0.8rem);
    }
  }
}

.carousel__img {
  width: 70%;
}

.carousel__info {
  width: 30%;
  position: relative;
  z-index: 5;

  .carousel__name {
    @include text($fz: $fz-xxl, $lh: $lh-xxl);
    margin-bottom: 1rem;
  }

  .carousel__description {
    @include text($fz: $fz-lg);
    margin-bottom: 4rem;
  }

  button {
    @include button();

    a {
      @include text($fz: $fz-lg, $c: $text-light-c0);
    }
  }
}
