.detail {
  padding: 6rem 0 3rem;

  .container {
    @include d-flex($ai: flex-start); // error: @mixin d-flex khong nhan flex-start
    align-items: flex-start;
  }

  .detail__img {
    width: 35%;
    text-align: center;

    img {
      width: 34rem;
      height: 34rem;
      object-fit: contain;
      object-position: center;
      background-color: $bg-light-c2;
      padding: 4rem;
    }
  }

  .detail__content {
    width: 65%;
    padding: 0 10rem;
  }
}

.detail__content {
  .detail__name {
    @include text($fz: $fz-xl + 0.4rem);
    margin-bottom: 1.6rem;
  }

  .detail__decription {
    @include text($fz: $fz-md, $fw: $fw-regular, $c: $text-dark-c2);
    padding-right: 10rem;
    margin-bottom: 3rem;
  }

  .detail__label-size {
    @include text($fz: $fz-xl, $fw: $fw-medium, $c: $text-green-c0);
    margin-bottom: 2rem;
  }

  .detail__sizes {
    @include d-flex($jc: flex-start);
    margin-bottom: 2.6rem;

    .detail__size {
      @extend %badge;
    }
  }

  .detail__price {
    @include text($fz: $fz-xl + 0.4rem, $fw: $fw-semibold, $c: $text-red-c0);
    margin-bottom: 2.6rem;
  }

  .detail__quality {
    @include d-flex($jc: flex-start);
    margin-bottom: 1rem;

    .detail__decrease-btn {
      @include button($fz: $fz-xl + 0.6rem, $fw: $fw-regular, $p: 0.8rem 1.6rem, $bg: $bg-gra-c0);
    }

    .detail__number {
      @extend %input-control;
      width: 6rem;
      padding: 0 0 0 2.2rem;
    }

    .detail__increase-btn {
      @include button($fz: $fz-xl + 0.6rem, $fw: $fw-regular, $p: 0.8rem 2rem, $bg: $bg-gra-c0);
    }
  }

  .detail__add-btn {
    @include button($bg: $bg-gra-c1);
  }
}
