.line-effect {
  width: 0;
  height: 2px;
  background-color: #3d6ef7;
  position: fixed;
  pointer-events: none;
  transition: all 0.25s linear;
}
.register {
  margin: 4rem 0;
  .container {
    .register-title {
      text-align: center;
      font-weight: 400;
      font-size: 4rem;
      line-height: 4.8rem;
    }
    .register-form {
      width: 100%;
      display: flex;
      &-left {
        width: calc(100% / 2 - 3rem);
        margin: 1rem 1.5rem;
      }
      &-right {
        width: calc(100% / 2 - 3rem);
        margin: 1rem 1.5rem;
        .input-checkbox {
          padding: 5rem 0;
          font-size: 2.5rem;
          input[type="radio"] {
            width: 3rem;
            height: 2rem;
          }
          .error {
            font-size: 1.6rem;
            color: red;
            margin: 1rem 0 0 1rem;
          }
        }
        .btn-register {
          padding: 2rem 5rem;
          border-radius: 1rem;
          font-size: 2rem;
          background-color: $bg-primary-c0;
          border: none;
        }
      }
    }
  }
}
.input-focus-effect {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1rem;
}

.input-focus-effect input {
  position: relative;
  padding: 35px 20px 10px;
  border: 1px solid transparent;
  border-bottom: 1px solid $bg-primary-c0;
  display: block;
  width: 100%;
  border-radius: 8px;
  transition: border 0.25s linear;
  background-color: transparent;
  outline: none;
  color: $text-dark-c0;
  font-size: 2.5rem;
}
.input-focus-effect div {
  margin: 1rem 0 0 1.5rem;
  color: red;
}
.input-focus-effect span {
  position: absolute;
  right: 5%;
  top: 40%;
  font-size: 2rem;
  color: seagreen;
  z-index: 1;
}

.input-focus-effect input:focus {
  border-color: #2979ff;
}

.input-focus-effect input:focus + label,
.input-focus-effect input:not(:placeholder-shown) + label {
  transform: translateY(-5px);
  font-size: 2rem;
  top: 10px;
}

.input-focus-effect label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #2979ff;
  transition: 0.25s linear;
  font-size: 3rem;
}
